<h1 style="text-align: center">Entrar</h1>
<br>
<br>
<div class="row">
	<div class="col-md-8 col-md-offset-3">
		<%= form_for(:session, url: sessions_path, html: {class: "form-horizontal"}) do |f| %>

			<div class="form-group">
				<%= f.label :email, "E-MAIL:", class: "col-md-2 control-label" %>
				<div class="col-md-5">
					<%= f.email_field :email, class: "form-control" %>
				</div>
			</div>
			<div class="form-group">
				<%= f.label :password, "SENHA:", class: "col-md-2 control-label" %>
				<div class="col-md-5">
					<%= f.password_field :password, class: "form-control" %>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-5 col-md-offset-2">
					<%= f.submit "Entrar", class: "btn btn-primary pull-right" %>
					
				</div>
			</div>

		<% end %>
	</div>
</div>
