<%= form_for user, html: {class: "form-horizontal"} do |f| %>
<%= render "shared/error_messages", object: f.object %>

<div class="form-group">
	<%= f.label :name, class: "col-md-2 control-label" %>
	<div class="col-md-4">
		<%= f.text_field :name, class: "form-control" %>
	</div>
</div>
<div class="form-group">
	<%= f.label :email, class: "col-md-2 control-label" %>
	<div class="col-md-4">
		<%= f.email_field :email, class: "form-control" %>
	</div>
</div>
<div class="form-group">
	<%= f.label :password, class: "col-md-2 control-label" %>
	<div class="col-md-4">
		<%= f.password_field :password, class: "form-control" %>
	</div>
</div>
<div class="form-group">
	<%= f.label :password_confirmation, "Confirmation", class: "col-md-2 control-label" %>
	<div class="col-md-4">
		<%= f.password_field :password_confirmation, class: "form-control" %>
	</div>
</div>
<div style="margin-left: 40%">
	<%= f.submit "Salvar", class: "btn btn-success" %>

	<%= link_to "Cancelar", users_path, class: "btn btn-default" %>
</div>
<% end %>
