<h1>Usuários</h1>
<%= link_to "Adicionar Usuário", new_user_path, class: "btn btn-success pull-right" %>
<br>
<br>
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>NOME</th>
			<th>E-MAIL</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<tbody>
	<% @users.each do |user| %>
		<tr>
			<td><%= user.name %></td>
			<td><%= user.email %></td>
			<td><%= link_to "Ver", user, :class => "btn btn-primary btn-xs" %></td>
			<td><%= link_to "Editar", edit_user_path(user), :class => "btn btn-warning btn-xs" %></td>
			<td><%= link_to "Excluir", user, method: :delete, data: { confirm: "Tem certeza que quer excluir o usuário?" }, :class => "btn btn-danger btn-xs" %></td>
		</tr>
	<% end %>
	</tbody>
</table>
