<div class="row">
	<div>
		<h1>Usuários</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<table class="table table-striped table-hover">
			<tr>
				<td class="field-label col-md-2 active text-right"><label>NOME:</label></td>
				<td class="col-md-4"><%= @user.name %></td>
			</tr>
			<tr>
				<td class="field-label col-md-2 active text-right"><label>E-MAIL:</label></td>
				<td class="col-md-4"><%= @user.email %></td>
			</tr>
		</table>
	</div>
</div>	<!-- .row -->
 
<br>
 
<%= link_to "Editar", edit_user_path(@user), class: "btn btn-warning" %> 
<%= link_to "Voltar", users_path, class: "btn btn-default" %>
