<%= form_for customer, html: {class: "form-horizontal"} do |f| %>
<%#= render "shared/error_messages", object: f.object %>

	<div class="form-group">
			<label class="col-md-2 control-label" for="customer_name">NOME:</label>
					<div class="col-md-5">
							<%= f.text_field :name, class: "form-control" %>
</div>
<%= render partial: "shared/validation_error_message_first",
						locals: { err_msgs: customer.errors[:name], attr_name: "Nome" }%>
</div>
<div class="form-group">
	<label class="col-md-2 control-label" for="customer_cpf">CPF:</label>
	<div class="col-md-5">
		<%= f.text_field :cpf, class: "form-control" %>
	</div>
	<%= render partial: "shared/validation_error_message_first",
						locals: { err_msgs: customer.errors[:cpf], attr_name: "Cpf" }%>
</div>
<div class="form-group">
	<label class="col-md-2 control-label" for="customer_rg">RG:</label>
	<div class="col-md-5">
		<%= f.text_field :rg, class: "form-control" %>
	</div>
	<%= render partial: "shared/validation_error_message_first",
						locals: { err_msgs: customer.errors[:rg], attr_name: "Rg" }%>
</div>
<div class="form-group">
	<label class="col-md-2 control-label" for="customer_name_mother">NOME DA MÃE:</label>
	<div class="col-md-5">
		<%= f.text_field :name_mother, class: "form-control" %>
	</div>
	<%= render partial: "shared/validation_error_message_first",
						locals: { err_msgs: customer.errors[:name_mother], attr_name: "Nome da mãe" }%>
</div>
<div class="form-group">
	<label class="col-md-2 control-label" for="customer_street">RUA:</label>
	<div class="col-md-5">
		<%= f.text_field :street, class: "form-control" %>
	</div>
	<%= render partial: "shared/validation_error_message_first",
						locals: { err_msgs: customer.errors[:street], attr_name: "Rua" }%>
</div>
<div class="form-group">
	<label class="col-md-2 control-label" for="customer_city">CIDADE:</label>
	<div class="col-md-5">
		<%= f.text_field :city, class: "form-control" %>
	</div>
	<%= render partial: "shared/validation_error_message_first",
						locals: { err_msgs: customer.errors[:city], attr_name: "Cidade" }%>
</div>
<div class="form-group">
	<label class="col-md-2 control-label" for="customer_state">ESTADO:</label>
	<div class="col-md-5">
		<%= f.select :state, options_for_select(us_states, customer[:state]), {}, class: "form-control" %>
	</div>
	<%= render partial: "shared/validation_error_message_first",
						locals: { err_msgs: customer.errors[:state], attr_name: "Estado" }%>
</div>
<div class="form-group">
	<label class="col-md-2 control-label" for="customer_zipcode">CEP:</label>
	<div class="col-md-5">
		<%= f.text_field :zipcode, class: "form-control", placeholder: "#####-###" %>
	</div>
	<%= render partial: "shared/validation_error_message_first",
						locals: { err_msgs: customer.errors[:zipcode], attr_name: "CEP" }%>
</div>

<div class="form-group">
	<label class="col-md-2 control-label" for="customer_homephone">TELEFONE:</label>
	<div class="col-md-5">
		<%= f.telephone_field :homephone, class: "form-control", placeholder: "##-####-####" %>
	</div>
	<%= render partial: "shared/validation_error_message_first",
						locals: { err_msgs: customer.errors[:homephone], attr_name: "Telefone Principal" }%>
</div>
<div class="form-group">
	<label class="col-md-2 control-label" for="customer_cellphone">CELULAR:</label>
	<div class="col-md-5">
		<%= f.telephone_field :cellphone, class: "form-control", placeholder: "##-####-####" %>
	</div>
	<%= render partial: "shared/validation_error_message_first",
						locals: { err_msgs: customer.errors[:cellphone], attr_name: "Telefone Opcional" }%>
</div>
<div class="form-group">
	<label class="col-md-2 control-label" for="customer_email">E-MAIL:</label>
	<div class="col-md-5">
		<%= f.email_field :email, class: "form-control" %>
	</div>
	<%= render partial: "shared/validation_error_message_first",
						locals: { err_msgs: customer.errors[:email], attr_name: "Email" }%>
</div>
<div style="margin-left: 45%">
	<%= f.submit "Salvar", class: "btn btn-success" %>

	<%= link_to "Voltar", customers_path, class: "btn btn-default" %>
	<br><br><br>
</div>
<% end %>
