<h1>Clientes</h1>

<div class="row">
	<div class="col-md-12">
		<%= link_to " Adicionar Cliente", new_customer_path, class: "btn btn-success valign_middle glyphicon glyphicon-plus pull-right" %>
	
		<%= form_tag(customers_path, :method => "get", :class => "form-inline pull-right", id: "search-form", style: "margin-right: 2%") do %>
		<%= text_field_tag :search, params[:search], placeholder: "Buscar Cliente", class: "form-control" %>
		<%= button_tag "", :name => nil, class: "btn btn-default glyphicon glyphicon-search" %>
		<% end %>

	</div>

</div>

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>NOME</th>
			<th>E-MAIL</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<% @customers.each do |customer| %>
		<tr>
			<td><%= customer.name %></td>
			<td><%= customer.email %></td>
			<td><%= link_to "Detalhes do cliente e ordens", customer, :class => "btn btn-primary btn-xs" %></td>
			<td><%= link_to "Editar", edit_customer_path(customer), :class => "btn btn-warning btn-xs" %></td>
			<td><%= link_to "Excluir", customer, method: :delete,
	data: { confirm: "Tem certeza que deseja excluir o cliente?" }, :class => "btn btn-danger btn-xs" %></td>
		</tr>
		<% end %>
	</tbody>
</table>


	