<div class="row">
    <div class="col-md-6">
        <h1>Cliente</h1>
        <%= link_to "Voltar", customers_path, class: "btn btn-default pull-right" %>
        <%= link_to "Editar", edit_customer_path(@customer), class: "btn btn-warning pull-right" %> 

        <br>
        <br>
        <br>

        <table class="table table-striped table-hover">
            <tr>
                <td class="field-label col-md-2 active text-right"><label>NOME:</label></td>
                <td class="col-md-4"><%= @customer.name %></td>
            </tr>
            <tr>
                <td class="field-label col-md-2 active text-right"><label>CPF:</label></td>
                <td class="col-md-4"><%= @customer.cpf %></td>
            </tr>
            <tr>
                <td class="field-label col-md-2 active text-right"><label>RG:</label></td>
                <td class="col-md-4"><%= @customer.rg %></td>
            </tr>
            <tr>
                <td class="field-label col-md-2 active text-right"><label>NOME DA MÃE:</label></td>
                <td class="col-md-4"><%= @customer.name_mother %></td>
            </tr>
            <tr>
                <td class="field-label col-md-2 active text-right"><label>TELEFONE PRINCIPAL:</label></td>
                <td class="col-md-4"><%= @customer.homephone %></td>
            </tr>
            <tr>
                <td class="field-label col-md-2 active text-right"><label>TELEFONE CELULAR:</label></td>
                <td class="col-md-4"><%= @customer.cellphone %></td>
            </tr>
            <tr>
                <td class="field-label col-md-2 active text-right"><label>RUA:</label></td>
                <td class="col-md-4"><%= @customer.street %></td>
            </tr>
            <tr>
                <td class="field-label col-md-2 active text-right"><label>CIDADE:</label></td>
                <td class="col-md-4"><%= @customer.city %></td>
            </tr>
            <tr>
                <td class="field-label col-md-2 active text-right"><label>ESTATO:</label></td>
                <td class="col-md-4"><%= @customer.state %></td>
            </tr>
            <tr>
                <td class="field-label col-md-2 active text-right"><label>CEP:</label></td>
                <td class="col-md-4"><%= @customer.zipcode %></td>
            </tr>


            <tr>
                <td class="field-label col-md-2 active text-right"><label>E-MAIL:</label></td>
                <td class="col-md-4"><%= @customer.email %></td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <h1>Ordens</h1>
        <%= link_to "Adicionar Ordem", new_customer_order_path(@customer), class: "btn btn-success valign_middle" %>
        <br />
        <br />


        <table class="table table-striped table-hover">
            <thead>
                <tr>

                    <th>DATA</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% @customer.orders.each do |order| %>
                <tr>
                    <td><%= order.date.try(:strftime, "%-d/%-m/%Y") %></td>
                    <td><%= link_to "Ver", order, :class => "btn btn-primary btn-xs" %></td>
                    <td><%= link_to "Editar", edit_order_path(order), :class => "btn btn-warning btn-xs" %></td>
                    <td><%= link_to "Excluir", order, :class => "btn btn-danger btn-xs", method: :delete, data: { confirm: "Tem certeza que quer excluir a ordem?" } %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>	<!-- .row -->

<br>



<!--		<nav>
<ul class="pagination">

<%#= will_paginate @customer.orders = Order.paginate(:page => params[:page], :per_page => 15), renderer: BootstrapPagination::Rails %>
</ul>
    </nav>-->