
 <h1 style="text-align: center">Editar Ordem</h1>

 <br>

<%= form_for @order, html: {class: "form-horizontal"} do |f| %>
	<%#= render "shared/error_messages", object: f.object %>
<div class="col-lg-2"></div>
        <div class="col-lg-10">
               
	<div class="form-group">
		<%=f.label :description, "DESCRIÇÃO:", class: "col-md-3 control-label" %>
		<div class="col-md-4">
			<%= f.text_field :description, class: "form-control" %>
		</div>
		<%= render partial: "shared/validation_error_message_first",
		 locals: { err_msgs: @order.errors[:description], attr_name: "Description" }%>		
	</div>
	<div class="form-group">
		<%= f.label :date, "DATA:", class: "col-md-3 control-label" %>
		<div class="col-md-3">
			<%= f.text_field :date, id: "datepicker", class: "form-control", value: @order.date.strftime("%-d/%-m/%Y"),
			readonly: true %>
			<!-- NOTE: '@order.date' cannot be blank in edit form, and can only be modified from datepicker,
						so there shouldn't be any associated validation error messages. -->
		</div>
		<div class="col-md-2 control-label">
			<div>(clique e selecione a data no calendário)</div>
		</div>
	</div>
	<%= f.fields_for :entrada do |e| %>
<div class="form-group">
        <label class= "col-md-3 control-label">VALOR DA ENTRADA:</label>
        <div class="col-md-3">
            <%= e.text_field :value, class: "form-control" %>
        </div>
    </div>
<% end %>
	<%= f.fields_for :payment do |p| %>
<div class="form-group">
	<label class= "col-md-3 control-label">TIPO DE PAGAMENTO:</label>
	<div class="col-md-3">
		<%= p.text_field :form, class: "form-control" %>
	</div>
</div>
<div class="form-group">
	<label class= "col-md-3 control-label">DATA DO PAGAMENTO:</label>
	<div class="col-md-3">
		<%= p.text_field :date_payment, class: "form-control" %>
	</div>
</div>
<div class="form-group">
	<label class= "col-md-3 control-label">VENCIMENTO 1ª PARC.:</label>
	<div class="col-md-3">
		<%= p.text_field :date_one_portion, class: "form-control" %>
	</div>
</div>
<div class="form-group">
	<label class= "col-md-3 control-label">DATA DO PAGAMENTO DA 1ª PARC.:</label>
	<div class="col-md-3">
		<%= p.text_field :date_one_payment, class: "form-control" %>
	</div>
</div>
<div class="form-group">
	<label class= "col-md-3 control-label">VENCIMENTO 2ª PARC.:</label>
	<div class="col-md-3">
		<%= p.text_field :date_two_portion, class: "form-control" %>
	</div>
</div>
<div class="form-group">
	<label class= "col-md-3 control-label">DATA DO PAGAMENTO DA 2ª PARC.:</label>
	<div class="col-md-3">
		<%= p.text_field :date_two_payment, class: "form-control" %>
	</div>
</div>
<div class="form-group">
	<label class= "col-md-3 control-label">VENCIMENTO 3ª PARC.:</label>
	<div class="col-md-3">
		<%= p.text_field :date_three_portion, class: "form-control" %>
	</div>
</div>
<div class="form-group">
	<label class= "col-md-3 control-label">DATA DO PAGAMENTO DA 3ª PARC.:</label>
	<div class="col-md-3">
		<%= p.text_field :date_three_payment, class: "form-control" %>
	</div>
</div>
<% end %>
<div style="margin-left: 40%">
	<%= f.submit "Salvar", class: "btn btn-success" %>
	 
	<%= link_to "Voltar", customer_path(@order.customer_id), class: "btn btn-default" %>
</div>
</div>
<% end %>
</div>
<br>
<br>
<br>
