
<div class="row">
		
		<div class="col-md-8"></div>
			<div class="col-md-4">
				<h4 class="pull-right">Complete os campos para pesquisar</h4>
			</div>
	<div class="col-md-12">
		
			
					<%= form_tag(orders_path, :method => "get", :class => "form-inline pull-right", id: "search-form", style: "margin-right: 2%") do %>

			<%= text_field_tag :client, params[:client], placeholder: "Nome do Cliente", class: "form-control" %>

			<%= text_field_tag :date_start, params[:date_start], placeholder: "Data Inicial", class: "form-control", id: "datepicker" %>
			<%= text_field_tag :date_end, params[:date_end], placeholder: "Data Final", class: "form-control", id: "datepicker1" %>

			<%= button_tag " Buscar", :name => nil, class: "btn btn-default glyphicon glyphicon-search" %>

		
		<% end %>
	</div>

</div>



<table class="table table-striped table-hover">
	<!-- Commented tags part of Product table sort implementation -->
	<!--<table id="" class="table table-bordered">-->
	<thead>
		<tr>
			<th>Nº DA ORDEM</th>
			<th>CLIENTE</th>
			<th>DESCRIÇÃO</th>
			<th>DATA</th>
			<th>TOTAL</th>

			<!--<th><%#= sortable "code" %></th>-->
			<th></th>
		</tr>
	</thead>
	<!--
<tfoot>
<tr>
<th>NAME</th>
<th>DESCRIPTION</th>
<th>CODE</th>
<th>UNIT PRICE</th>
<th>INVENTORY</th>
<th></th>
<th></th>
<th></th>
</tr>
</tfoot>
-->

	<tbody>
		<% @orders.each do |order| %>
		<tr>
			<td><%= order.id %></td>
			<td><%= order.customer.name %></td>
			<td><%= order.description %></td>
			<td><%= order.date.strftime("%-d/%-m/%Y") %></td>
			<td><%= order.value %></td>
			<td><%= link_to "Ver", order, :class => "btn btn-primary btn-xs" %></td>
		</tr>
		<% end %>
	</tbody>
</table>