<div class="row">
	<center><h3>Pesquisar Ordem Por Data de Vencimento</h3></center>
	<br>
	<div class="col-lg-12">
		<%= link_to " Nova Busca", order_info_path, class: 'pull-right glyphicon glyphicon-search btn btn-primary' %>
	</div>
	<div class="col-lg-12">
		<form action="" class="form-horizontal">
			<div class="form-group">
				<label for="" class="control-label col-lg-2">Selecione a pesquisa: </label>

				<div class="col-lg-2">
					<%= form_tag(order_info_path, :method => "get", :class => "form-inline pull-right", id: "search-form", style: "margin-right: 2%") do %>
					<select name="" id="selectBusca" class="form-control" >
						<option value="">Selecione a busca</option>
						<option value="1_parcela">Data da 1ª Parcela</option>
						<option value="2_parcela">Data da 2ª Parcela</option>
						<option value="3_parcela">Data da 3ª Parcela</option>
					</select>
				</div>
				<div id="1_parcela" hidden>
				<label for="" class="control-label col-lg-1">De:</label>
				<div class="col-lg-2">
					<%= text_field_tag :de_primeira_parcela, params[:de_primeira_parcela], placeholder: "Data Inicial", class: "form-control", id: "datepicker1" %>
					</div>
					<label for="" class="control-label col-lg-1">à: </label>
					<div class="col-lg-2">
						<%= text_field_tag :primeira_parcela, params[:primeira_parcela], placeholder: "Data Inicial", class: "form-control", id: "datepicker" %>
					</div>
				</div>
				<div id="2_parcela" hidden>
				<label for="" class="control-label col-lg-1">De:</label>
				<div class="col-lg-2">
					<%= text_field_tag :de_segunda_parcela, params[:de_segunda_parcela], placeholder: "Data Inicial", class: "form-control", id: 'datepicker2' %>
					</div>
					<label for="" class="control-label col-lg-1">à: </label>
					<div class="col-lg-2">
						<%= text_field_tag :segunda_parcela, params[:segunda_parcela], placeholder: "Data Inicial", class: "form-control", id: "datepicker3" %>
					</div>
				</div>
				<div id="3_parcela" hidden>
				<label for="" class="control-label col-lg-1">De:</label>
				<div class="col-lg-2">
					<%= text_field_tag :de_terceira_parcela, params[:de_terceira_parcela], placeholder: "Data Inicial", class: "form-control", id: "datepicker4" %>
					</div>
					<label for="" class="control-label col-lg-1">à: </label>
					<div class="col-lg-2">
						<%= text_field_tag :terceira_parcela, params[:terceira_parcela], placeholder: "Data Inicial", class: "form-control", id: "datepicker5" %>
					</div>
				</div>
				<div id="btnBuscar" hidden>

					<%= button_tag " ", :name => nil, class: "btn btn-default glyphicon glyphicon-search" %>
					<% end %>
				</div>
			</div>
		</form>
	</div>

</div>



<table class="table table-striped table-hover">
	<!-- Commented tags part of Product table sort implementation -->
	<!--<table id="" class="table table-bordered">-->
	<thead>
		<tr>
			<th>Nº DA ORDEM</th>
			<th>CLIENTE</th>

			<th>DATA 1ª PARCELA</th>
			<th>DATA 2ª PARCELA</th>
			<th>DATA 3ª PARCELA</th>

			<!--<th><%#= sortable "code" %></th>-->
			<th></th>
		</tr>
	</thead>
	<!--
<tfoot>
<tr>
<th>NAME</th>
<th>DESCRIPTION</th>
<th>CODE</th>
<th>UNIT PRICE</th>
<th>INVENTORY</th>
<th></th>
<th></th>
<th></th>
</tr>
</tfoot>
-->

	<tbody>
		<% @orders.each do |order| %>
		<tr>
			<td><%= order.id %></td>
			<td><%= order.customer.name %></td>
			<td><% if order.payment.date_one_portion != nil %><%= order.payment.date_one_portion.strftime("%-d/%-m/%Y") %><% end %></td>
			<td><% if order.payment.date_two_portion != nil %><%= order.payment.date_two_portion.strftime("%-d/%-m/%Y") %><% end %></td>
			<td><% if order.payment.date_three_portion != nil %><%= order.payment.date_three_portion.strftime("%-d/%-m/%Y") %><% end %></td>
			<td><%= link_to "Ver", order, :class => "btn btn-primary btn-xs" %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<script>
	$(function(){
		$('#selectBusca').change(function(){
			var valueBusca = $('#selectBusca').val();
			if(valueBusca === '1_parcela'){
				$('#1_parcela').show();
				$('#btnBuscar').show();
				$('#2_parcela').hide();
				$('#3_parcela').hide();
			}
			else if(valueBusca === '2_parcela'){
				$('#2_parcela').show();
				$('#btnBuscar').show();
				$('#1_parcela').hide();
				$('#3_parcela').hide();
			}
			else if(valueBusca === '3_parcela'){
				$('#3_parcela').show();
				$('#btnBuscar').show();
				$('#1_parcela').hide();
				$('#2_parcela').hide();
			}
			else {
				$('#btnBuscar').hide();
				$('#1_parcela').hide();
				$('#2_parcela').hide();
				$('#3_parcela').hide();
			}

		});

	});

</script>
