<h1>Nova Ordem</h1>
<%= form_for [@customer, @order], html: {class: "form-horizontal"} do |f| %>
<%#= render "shared/error_messages", object: f.object %>

    <div class="form-group">
            <%= f.label :description, "DESCRIÇÃO:", class: "col-md-2 control-label" %>
<div class="col-md-4">
    <%= f.select :description, options_for_select(type_order, @order[:description]), {}, class: "col-md-2 form-control" %>
</div>
<%= render partial: "shared/validation_error_message_first",
        locals: { err_msgs: @order.errors[:description], attr_name: "Description" }%>
</div>
<div class="form-group">
    <%= f.label :date, "DATA:", class: "col-md-2 control-label" %>
    <div class="col-md-2">
        <%= f.text_field :date, id: "datepicker", class: "form-control",
        value: @order.date = DateTime.now.strftime("%-d/%-m/%Y"),
        readonly: true %>
    </div>
    <div class="col-md-2 control-label">
        <div>(clique e selecione a data no calendário)</div>
    </div>
    <%= render partial: "shared/validation_error_message_first",
        locals: { err_msgs: @order.errors[:date], attr_name: "Date" }%>
</div>
<%= f.fields_for :entrada do |e| %>
<div class="form-group">
        <label class= "col-md-2 control-label">VALOR DA ENTRADA:</label>
        <div class="col-md-3">
            <%= e.text_field :value, class: "form-control", value: 0 %>
        </div>
    </div>
<% end %>
<%= f.fields_for :payment do |p| %>
<div class="form-group">
    <label class= "col-md-2 control-label">TIPO DE PAGAMENTO:</label>
    <div class="col-md-2">
        <%= p.select :form, options_for_select(type_payment, @order.payment[:form]), {}, class: "form-control" %>
    </div>
</div>



<div class="col-lg-6">
    <div class="col-lg-2"></div>
    <div class="col-lg-10"><h4>DATAS DE VENCIMENTO DAS PARCELAS</h4></div>

    <div class="form-group" id="primParc">
        <label class= "col-lg-6 control-label">VENCIMENTO 1ª PARC.:</label>
        <div class="col-lg-5">
            <%= p.text_field :date_one_portion, id: "datepickerOnePortion", class: "form-control", readonly: true, value: @order.payment.date_one_portion.try(:strftime, "%-d/%-m/%Y"), placeholder: "Selecione a data" %>
        </div>
    </div>

    <div class="form-group" id="segParc">
        <label class= "col-lg-6 control-label">VENCIMENTO 2ª PARC.:</label>
        <div class="col-lg-5">
            <%= p.text_field :date_two_portion, id: "datepickerTwoPortion", class: "form-control", readonly: true, value: @order.payment.date_two_portion.try(:strftime, "%-d/%-m/%Y"), placeholder: "Selecione a data" %>
        </div>
    </div>

    <div class="form-group" id="terParc">
        <label class= "col-lg-6 control-label">VENCIMENTO 3ª PARC.:</label>
        <div class="col-lg-5">
            <%= p.text_field :date_three_portion, id: "datepickerThreePortion", class: "form-control", readonly: true, value: @order.payment.date_three_portion.try(:strftime, "%-d/%-m/%Y"), placeholder: "Selecione a data" %>
        </div>
    </div>
</div>

<div class="col-lg-6">
    <div class="col-lg-2"></div>
    <div class="col-lg-10"><h4>DATAS DE PAGAMENTO DAS PARCELAS</h4></div>
    <div class="form-group" id="pagAvista">
        <label class= "col-lg-6 control-label">DATA DO PAGAMENTO:</label>
        <div class="col-lg-5">
            <%= p.text_field :date_payment, id: "datepicker", class: "form-control", readonly: true, value: @order.payment.date_payment.try(:strftime, "%-d/%-m/%Y"), placeholder: "Selecione a data" %>
        </div>
    </div>
    <div class="form-group" id="pagPrimParc">
        <label class= "col-lg-6 control-label">DATA DO PAGAMENTO DA 1ª PARC.:</label>
        <div class="col-lg-5">
            <%= p.text_field :date_one_payment, id: "datepickerOnePayment", class: "form-control", readonly: true, value: @order.payment.date_one_payment.try(:strftime, "%-d/%-m/%Y"), placeholder: "Selecione a data" %>
        </div>
    </div>
    <div class="form-group" id="pagSegParc">
        <label class= "col-lg-6 control-label">DATA DO PAGAMENTO DA 2ª PARC.:</label>
        <div class="col-lg-5">
            <%= p.text_field :date_two_payment, id: "datepickerTwoPayment", class: "form-control", readonly: true, value: @order.payment.date_two_payment.try(:strftime, "%-d/%-m/%Y"), placeholder: "Selecione a data" %>
        </div>
    </div>
    <div class="form-group" id="pagTerParc">
        <label class= "col-lg-6 control-label">DATA DO PAGAMENTO DA 3ª PARC.:</label>
        <div class="col-lg-5">
            <%= p.text_field :date_three_payment, id: "datepickerThreePayment", class: "form-control", readonly: true, value: @order.payment.date_three_payment.try(:strftime, "%-d/%-m/%Y"), placeholder: "Selecione a data" %>
        </div>
    </div>

</div>

<% end %>
<div style="margin-left: 40%">
    <%= f.submit "Salvar", class: "btn btn-success" %>

    <%= link_to "Voltar", customer_path(@customer), class: "btn btn-default" %>
</div>
<% end %>
<br><br><br>
<script>


    $(document).ready(function(){

        var init = $('#order_payment_attributes_form').val();

        if (init == 'A vista'){
            $('#pagAvista').show();
            $('#primParc').hide();
            $('#segParc').hide();
            $('#terParc').hide();
            $('#pagPrimParc').hide();
            $('#pagSegParc').hide();
            $('#pagTerParc').hide();
        }
        else if (init == '1x Parcela'){
            $('#primParc').show();
            $('#segParc').hide();
            $('#terParc').hide();
            $('#pagPrimParc').show();
            $('#pagSegParc').hide();
            $('#pagTerParc').hide();
            $('#pagAvista').hide();
        }
        else if (init == '2x Parcelas'){
            $('#primParc').show();
            $('#segParc').show();
            $('#terParc').hide();
            $('#pagPrimParc').show();
            $('#pagSegParc').show();
            $('#pagTerParc').hide();
            $('#pagAvista').hide();
        }
        else {
            $('#primParc').show();
            $('#segParc').show();
            $('#terParc').show();
            $('#pagPrimParc').show();
            $('#pagSegParc').show();
            $('#pagTerParc').show();
            $('#pagAvista').hide();

        };


        $('#order_payment_attributes_form').change(function(){

            var value = $('#order_payment_attributes_form').val();
            if (value == 'A vista'){
                $('#pagAvista').show();
                $('#primParc').hide();
                $('#segParc').hide();
                $('#terParc').hide();
                $('#pagPrimParc').hide();
                $('#pagSegParc').hide();
                $('#pagTerParc').hide();
            }
            else if (value == '1x Parcela'){
                $('#primParc').show();
                $('#segParc').hide();
                $('#terParc').hide();
                $('#pagPrimParc').show();
                $('#pagSegParc').hide();
                $('#pagTerParc').hide();
                $('#pagAvista').hide();
            }
            else if (value == '2x Parcelas'){
                $('#primParc').show();
                $('#segParc').show();
                $('#terParc').hide();
                $('#pagPrimParc').show();
                $('#pagSegParc').show();
                $('#pagTerParc').hide();
                $('#pagAvista').hide();
            }
            else {
                $('#primParc').show();
                $('#segParc').show();
                $('#terParc').show();
                $('#pagPrimParc').show();
                $('#pagSegParc').show();
                $('#pagTerParc').show();
                $('#pagAvista').hide();

            };
        });

    });

</script>