<div class="row">
    <div class="pull-right">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".printable">Imprimir</button>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="col-md-3">
            <h1>Ordem</h1>
        </div>
        <br>
        <div class="pull-right">
            <%= link_to "Editar", edit_order_path(@order), class: "btn btn-warning" %> 
            <%= link_to "Voltar", customer_path(@order.customer_id), class: "btn btn-default" %>
        </div>

        <table class="table table-striped table-hover">
            <tr>
                <td class="field-label col-md-2 active text-right"><label>Nº DA ORDEM:</label></td>
                <td class="col-md-4"><%= @order.id %></td>
            </tr>
            <tr>
                <td class="field-label col-md-2 active text-right"><label>CLIENTE::</label></td>
                <td class="col-md-4"><%= @order.customer.name %></td>
            </tr>
            <tr>
                <td class="field-label col-md-2 active text-right"><label>DESCRIÇÃO:</label></td>
                <td class="col-md-4"><%= @order.description %></td>
            </tr>
            <tr>
                <td class="field-label col-md-2 active text-right"><label>DATA:</label></td>
                <td class="col-md-4"><%= @order.date.try(:strftime, "%-d/%-m/%Y") %></td>
            </tr>
            <tr>
                <td class="field-label col-md-2 active text-right"><label>VALOR A VISTA (c/desconto 10%):</label></td>
                <td class="col-md-4"><% if @order.value != nil %><%= number_to_currency( @order.value - (@order.value * 0.10), unit: "") %><% end %></td>
            </tr>
            <tr>
                <td class="field-label col-md-2 active text-right"><label>VALOR ENTRADA:</label></td>
                <td class="col-md-4"> <%= number_to_currency(@order.entrada.value, unit:"") %></td>
            </tr>
            <tr>
                <td class="field-label col-md-2 active text-right"><label>TOTAL:</label></td>
                <td class="col-md-4"><%= number_to_currency(@order.value, unit: "") %></td>
            </tr>
            <tr>
                <td class="field-label col-md-2 active text-right"><label>TOTAL ( - recebido/entrada):</label></td>
                <td class="col-md-4"><% if @order.valuerecebido != nil %><%= number_to_currency(@order.valuerecebido, unit:"") %><% end %></td>
            </tr>

            <tr>
                <td class="field-label col-md-2 active text-right"><label>VALOR PARC. EM 2x:</label></td>
                <td class="col-md-4"><%= number_to_currency(@order.parcela_2, unit:"") %>
                </td>
            </tr>
            <tr>
                <td class="field-label col-md-2 active text-right"><label>VALOR PARC. EM 3x:</label></td>
                <td class="col-md-4"><%= number_to_currency(@order.parcela_3, unit: "") %></td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <div class="col-md-3">
            <h1>Pagamento</h1>
        </div>
        <br>
        <div class="pull-right">
            <%= link_to 'Ver', @order.payment, class: "btn btn-primary" %>
            <%= link_to 'Editar', edit_payment_path(@order.payment), class: "btn btn-warning" %>
        </div>
        <table class="table table-striped table-hover">
            <tr>
                <td class="field-label col-md-2 active text-right"><label>FORMA DE PAGAMENTO:</label></td>
                <td class="col-md-4" id="paymentForm"><%= @order.payment.form %></td>
            </tr>
            <!--<tr id="datePayment">
<td class="field-label col-md-2 active text-right"><label>DATA DE PAGAMENTO:</label></td>
<td class="col-md-2"><%= @order.payment.date_payment.try(:strftime, "%-d/%-m/%Y") %></td>
</tr>-->
            <tr id="datePayment1">
                <td class="field-label col-md-2 active text-right"><label>DATA DA 1ª PARC.:</label></td>
                <td class="col-md-2"><%= @order.payment.date_one_portion.try(:strftime, "%-d/%-m/%Y") %></td>
            </tr>
            <tr id="datePayment2">
                <td class="field-label col-md-2 active text-right"><label>DATA DA 2ª PARC.:</label></td>
                <td class="col-md-2"><%= @order.payment.date_two_portion.try(:strftime, "%-d/%-m/%Y") %></td>
            </tr>
            <tr id="datePayment3">
                <td class="field-label col-md-2 active text-right"><label>DATA DA 3ª PARC.:</label></td>
                <td class="col-md-2"><%= @order.payment.date_three_portion.try(:strftime, "%-d/%-m/%Y") %></td>
            </tr>
        </table>
        <div class="col-md-3">
            <h1>Recebimentos</h1>
        </div>
        <br>
        <div >
            <%= link_to " Recebimento", new_order_receipt_path(@order), class: "btn btn-success pull-right glyphicon glyphicon-plus", style: "margin-top: 20px" %> 
        </div>
        <table class="table table-striped table-hover">
            <thead>

                <tr>
                    <th>DATA</th>
                    <th>VALOR</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <% @order.receipt.each do |receipt| %>
                <tr>
                    <td><%= receipt.date.try(:strftime, "%-d/%-m/%Y") %></td>
                    <td><%= receipt.value %></td>
                    <!--<td><%#= link_to "Editar", edit_line_item_path(line_item) %></td>-->
                    <td><%= link_to "Excluir", receipt, method: :delete, data: { confirm: "Tem certeza que deseja deletar este recebimento?" }, :class => "btn btn-danger btn-xs" %></td>
                </tr>
                <% end %>
                <tr>
                    <td><b>Total Recebido: </b></td>
                    <td><%= @order.value_receipt %></td>
                </tr>
            </tbody>
        </table>

    </div>

</div>	<!-- .row -->
<div class="row">
    <div class="col-md-2">
        <h2>Itens</h2>
    </div>
    <div class="col-md-10">
        <%= link_to " Item", new_order_line_item_path(@order), class: "btn btn-success pull-right glyphicon glyphicon-plus", style: "margin-top: 20px" %> 


    </div>
</div>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>PRODUTO</th>
            <th>CÓDIGO</th>
            <th>UNIDADES</th>
            <th>PREÇO POR UNIDADE</th>
            <th>DESCONTO %</th>
            <th>TOTAL</th>

            <th></th>
        </tr>
    </thead>

    <tbody>
        <%
    @order.line_items.each do |line_item|
        %>
        <tr>
            <td><%= line_item.product.description %></td>
            <td><%= line_item.product.code %></td>
            <td><%= line_item.quantity %></td>
            <td><%= number_to_currency(line_item.product.unit_price, unit: "") %></td>
            <td><%= line_item.discount_percent %></td>
            <td><%= number_to_currency(line_item.value, unit: "") %></td>
            <!--<td><%= link_to "Editar", edit_line_item_path(line_item) %></td>-->
            <td><%= link_to "Excluir", line_item, method: :delete, data: { confirm: "Tem certeza que deseja deletar este item?" }, :class => "btn btn-danger btn-xs" %></td>
        </tr>
        <% end %>
    </tbody>
</table>
<br><br><br>



<div class="modal fade printable contentPrint">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <p style="margin: 0px 0px 0px!important">Imprimir Ordem</p></div>
            <div class="contentPrint">
                <h4 class="modal-title" style="text-align: center; color: black; font-size: 12px!important">PORTO PRÍNCIPE Boutique</h4>
                <p class="modal-title" style="text-align: center; font-size: 12px!important">Fone: (34) 3321-1853</p>
                <p class="modal-title" style="text-align: center;font-size: 12px!important">Rua: Jesus Marques Prata, 89 - Centro - Conceição das Alagoas/MG</p>
                <p class="modal-title" style="text-align: center;font-size: 12px!important">Cupom Não-Fiscal</p>

                <div class="modal-body">
                    <div class="row">
                        <table class="table table-bordered">
                            <tr><td><b>Nº Ordem: </b><%= @order.id %></td>
                                <td><b>Cliente: </b><%= @order.customer.name %></td>
                                <td><b>CPF: </b><%= @order.customer.cpf %></td>
                                <td><b>RG: </b><%= @order.customer.rg %></td>

                            </tr>
                            <tr>
                                <td><b>Telefone: </b><%= @order.customer.cellphone %></td>
                                <td><b>End.: </b></b><%= @order.customer.street %></td>
                        <td><b>Data: </b><%= @order.date.try(:strftime, "%-d/%-m/%Y") %></td>
                        <td><b>Pagamento: </b><%= @order.payment.form %></td>
                        </tr>
                    </table>


                <center>
                    <table class="table table-bordered">

                        <tr>
                            <th style="text-align:center">PRODUTO</th>
                            <th>CÓD</th>
                            <th>UNID</th>
                            <th>PREÇ/UNID</th>
                            <th>DESCONTO %</th>
                            <th>VALOR</th>
                        </tr>

                        <tbody>
                            <%	@order.line_items.each do |line_item| %>
                            <tr>
                                <td><%= line_item.product.description %></td>
                                <td><%= line_item.product.code %></td>
                                <td><%= line_item.quantity %></td>
                                <td><%= number_to_currency(line_item.product.unit_price, unit: "") %></td>
                                <td><%= line_item.discount_percent %></td>
                                <td><%= number_to_currency(line_item.value, unit: "") %></td>

                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                    <br>
                    <table class="table table-bordered">
                        <tr>
                            <td style="padding-right:350px"></td>
                            <td style="text-align: center"><b>Entrada: </b>R$<%= @order.entrada.value %></td>
                            <td style="text-align: center"><b>Devedor:</b> R$<%= @order.valuerecebido %></td>
                            <td style="text-align: center"><b>Total: </b>R$<% if @order.payment.form == 'A vista' && @order.value != nil %><%= number_to_currency( @order.value - (@order.value * 0.07), unit: "") %><% else %><%= number_to_currency(@order.value, unit: "") %><% end %></td></tr>
                    </table>
                </center>
                <table class="table table-bordered">
                    <tr>
                        <td><span>Desenvolvido por: vanessasoutoc@gmail.com</span></td>
                        <td style="text-align: right!important"><b>Obrigado e volte sempre.&emsp;&emsp;</b></td>
                    </tr>
                </table>

                <div id="umaParc">
                    <br>
                    -------------------------------------------------------------------------------------------------------------<br> <br>
                    <table class="table table-bordered"> 
                        <tr>
                            <td><b>Nº: &emsp;&emsp;</b><%= @order.id %>&emsp;&emsp;</td>
                            <td><b>Ventimento: &emsp;&emsp; </b><%= @order.payment.date_one_portion.try(:strftime, "%-d/%-m/%Y") %>&emsp;&emsp;</td>
                            <td><b>Valor: </b>&emsp;&emsp;R$<%= number_to_currency(@order.value, unit: "") %>&emsp;&emsp;</td>
                        </tr>
                    </table>
                    <div  class="panel panel-default" style="padding: 5px; font-size:10px; margin-bottom:0px">
                        No dia <%= @order.payment.date_one_portion.try(:strftime, "%-d/%-m/%Y") %> pagarei por esta única via de <b>NOTA PROMISSÓRIA</b> à <b>PORTO PRINCÍPE BOUTIQUE</b>, CNPJ: 17.216.221/0001-02, ou a sua ordem, a quantia de R$<%= number_to_currency(@order.value, unit: "") %>. Em moeda corrente deste país.
                        <div style="font-size:10px;">______________________________________________ &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; ______________________________________________
                            <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Emitente &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Emitente
                        </div>
                    </div>

                </div>
                <!-- se parcelado em 2x imprime duas notas promissorias-->
                <div id="duasParc">
                    <br>
                    -------------------------------------------------------------------------------------------------------------<br> <br>
                    <table class="table table-bordered"> 
                        <tr>
                            <td><b>Nº: &emsp;&emsp;</b><%= @order.id %>&emsp;&emsp;</td>
                            <td><b>Ventimento: &emsp;&emsp; </b><%= @order.payment.date_one_portion.try(:strftime, "%-d/%-m/%Y") %>&emsp;&emsp;</td>
                            <td><b>Valor: </b>&emsp;&emsp;R$<%= number_to_currency(@order.parcela_2, unit: "") %>&emsp;&emsp;</td>
                        </tr>
                    </table>
                    <div  class="panel panel-default" style="padding: 5px; font-size:10px; margin-bottom:0px">
                        No dia <%= @order.payment.date_one_portion.try(:strftime, "%-d/%-m/%Y") %> pagarei por esta única via de <b>NOTA PROMISSÓRIA</b> à <b>PORTO PRINCÍPE BOUTIQUE</b>, CNPJ: 17.216.221/0001-02, ou a sua ordem, a quantia de R$<%= number_to_currency(@order.parcela_2, unit: "") %> . Em moeda corrente deste país.
                        <div style="font-size:10px;">______________________________________________ &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; ______________________________________________
                            <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Emitente &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Emitente
                        </div>
                    </div>

                    <br>
                    <table class="table table-bordered"> 
                        <tr>
                            <td><b>Nº: &emsp;&emsp;</b><%= @order.id %>&emsp;&emsp;</td>
                            <td><b>Ventimento: &emsp;&emsp; </b><%= @order.payment.date_two_portion.try(:strftime, "%-d/%-m/%Y") %>&emsp;&emsp;</td>
                            <td><b>Valor: </b>&emsp;&emsp;R$<%= number_to_currency(@order.parcela_2, unit: "") %>&emsp;&emsp;</td>
                        </tr>
                    </table>
                    <div  class="panel panel-default" style="padding: 5px; font-size:10px; margin-bottom:0px">
                        No dia <%= @order.payment.date_two_portion.try(:strftime, "%-d/%-m/%Y") %> pagarei por esta única via de <b>NOTA PROMISSÓRIA</b> à <b>PORTO PRINCÍPE BOUTIQUE</b>, CNPJ: 17.216.221/0001-02, ou a sua ordem, a quantia de R$<%= number_to_currency(@order.parcela_2, unit: "") %> . Em moeda corrente deste país.
                        <div style="font-size:10px;">______________________________________________ &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; ______________________________________________
                            <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Emitente &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Emitente
                        </div>
                    </div>
                </div>

                <div id="tresParc">
                    <br>
                    -------------------------------------------------------------------------------------------------------------<br> <br>
                    <table class="table table-bordered"> 
                        <tr>
                            <td><b>Nº: &emsp;&emsp;</b><%= @order.id %>&emsp;&emsp;</td>
                            <td><b>Ventimento: &emsp;&emsp; </b><%= @order.payment.date_one_portion.try(:strftime, "%-d/%-m/%Y") %>&emsp;&emsp;</td>
                            <td><b>Valor: </b>&emsp;&emsp;R$<%= number_to_currency(@order.parcela_3, unit: "") %>&emsp;&emsp;</td>
                        </tr>
                    </table>
                    <div  class="panel panel-default" style="padding: 5px; font-size:10px; margin-bottom:0px">
                        No dia <%= @order.payment.date_one_portion.try(:strftime, "%-d/%-m/%Y") %> pagarei por esta única via de <b>NOTA PROMISSÓRIA</b> à <b>PORTO PRINCÍPE BOUTIQUE</b>, CNPJ: 17.216.221/0001-02, ou a sua ordem, a quantia de R$<%= number_to_currency(@order.parcela_3, unit: "") %>&emsp;. Em moeda corrente deste país.
                        <div style="font-size:10px;">______________________________________________ &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; ______________________________________________
                            <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Emitente &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Emitente
                        </div>
                    </div>
                    <br>
                    <table class="table table-bordered"> 
                        <tr>
                            <td><b>Nº: &emsp;&emsp;</b><%= @order.id %>&emsp;&emsp;</td>
                            <td><b>Ventimento: &emsp;&emsp; </b><%= @order.payment.date_two_portion.try(:strftime, "%-d/%-m/%Y") %>&emsp;&emsp;</td>
                            <td><b>Valor: </b>&emsp;&emsp;R$<%= number_to_currency(@order.parcela_3, unit: "") %>&emsp;&emsp;</td>
                        </tr>
                    </table>
                    <div  class="panel panel-default" style="padding: 5px; font-size:10px; margin-bottom:0px">
                        No dia <%= @order.payment.date_two_portion.try(:strftime, "%-d/%-m/%Y") %> pagarei por esta única via de <b>NOTA PROMISSÓRIA</b> à <b>PORTO PRINCÍPE BOUTIQUE</b>, CNPJ: 17.216.221/0001-02, ou a sua ordem, a quantia de R$<%= number_to_currency(@order.parcela_3, unit: "") %>&emsp;. Em moeda corrente deste país.
                        <div style="font-size:10px;">______________________________________________ &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; ______________________________________________
                            <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Emitente &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Emitente
                        </div>
                    </div>
                    <br>
                    <table class="table table-bordered"> 
                        <tr>
                            <td><b>Nº: &emsp;&emsp;</b><%= @order.id %>&emsp;&emsp;</td>
                            <td><b>Ventimento: &emsp;&emsp; </b><%= @order.payment.date_three_portion.try(:strftime, "%-d/%-m/%Y") %>&emsp;&emsp;</td>
                            <td><b>Valor: </b>&emsp;&emsp;R$<%= number_to_currency(@order.parcela_3, unit: "") %>&emsp;&emsp;</td>
                        </tr>
                    </table>
                    <div  class="panel panel-default" style="padding: 5px; font-size:10px; margin-bottom:0px">
                        No dia <%= @order.payment.date_three_portion.try(:strftime, "%-d/%-m/%Y") %> pagarei por esta única via de <b>NOTA PROMISSÓRIA</b> à <b>PORTO PRINCÍPE BOUTIQUE</b>, CNPJ: 17.216.221/0001-02, ou a sua ordem, a quantia de R$<%= number_to_currency(@order.parcela_3, unit: "") %>&emsp;. Em moeda corrente deste país.
                        <div style="font-size:10px;">______________________________________________ &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; ______________________________________________
                            <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Emitente &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Emitente
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary print" >Imprimir</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>

    </div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>

    /* $().ready(function () {
        $('.modal.printable').on('shown.bs.modal', function () {
            $('.modal-dialog', this).addClass('focused');
            $('body').addClass('modalprinter');

            if ($(this).hasClass('autoprint')) {
                window.print();
            }
        }).on('hidden.bs.modal', function () {
            $('.modal-dialog', this).removeClass('focused');
            $('body').removeClass('modalprinter');
        });
    });*/
    $(document).ready(function(){
        //Exemplo 
        //var pagamento = '<%= @order.payment.form %>';


        if ('<%= @order.payment.form %>' == 'A vista'){
            $('#duasParc').hide();
            $('#umaParc').hide();
            $('#tresParc').hide();
        }
        else if ('<%= @order.payment.form %>' == '1x Parcela') {
            $('#duasParc').hide();
            $('#tresParc').hide();
        }
        else if ('<%= @order.payment.form %>' == '2x Parcelas') {
            $('#umaParc').hide();
            $('#tresParc').hide();
        }
        else {
            $('#umaParc').hide();
            $('#duasParc').hide();
        }

    })
</script>
