<%= form_for(@payment) do |p| %>
<% if @payment.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

    <ul>
        <% @payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>


<div class="form-group">
    <br>
    <h4>FORMA DE PAGAMENTO:</h4>
    <div class="row">
        <div class="col-md-4">
            <%= p.select :form, options_for_select(type_payment, @payment[:form]), {}, class: "form-control selectFormPayment" %>
        </div>
        <%= render partial: "shared/validation_error_message_first",
locals: { err_msgs: @payment.errors[:form], attr_name: "Forma de Pagamento" }%>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <h4>DATAS DE VENCIMENTO DAS PARCELAS</h4>
        <div class="form-group" id="primParc">
            <label for="">DATA DA 1ª PARC.:</label>
            <div class="row">
                <div class="col-md-6">
                    <%= p.text_field :date_one_portion, id: "datepickerOnePortion", class: "form-control", value: @payment.date_one_portion.try(:strftime, "%-d/%-m/%Y"), placeholder: "Selecione a data" %>
                </div>
            </div>
        </div>
        <div class="form-group" id="segParc">
            <label for="">DATA DA 2ª PARC.:</label>
            <div class="row">
                <div class="col-md-6">
                    <%= p.text_field :date_two_portion, id: "datepickerTwoPortion", class: "form-control", value: @payment.date_two_portion.try(:strftime, "%-d/%-m/%Y"), placeholder: "Selecione a data" %>
                </div>
            </div>
        </div>
        <div class="form-group" id="terParc">
            <label for="">DATA DA 3ª PARC.:</label>
            <div class="row">
                <div class="col-md-6">
                    <%= p.text_field :date_three_portion, id: "datepickerThreePortion", class: "form-control", value: @payment.date_three_portion.try(:strftime, "%-d/%-m/%Y"), placeholder: "Selecione a data" %>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <h4>DATAS DE PAGAMENTO DAS PARCELAS</h4>
        <div class="form-group" id="pagAvista">
            <label for="">DATA DO PAGAMENTO:</label>
            <div class="row">
                <div class="col-md-6">
                    <%= p.text_field :date_payment, id: "datepicker", class: "form-control", value: @payment.date_payment.try(:strftime, "%-d/%-m/%Y"), placeholder: "Selecione a data" %>
                </div>
            </div>
        </div>
        <div class="form-group" id="pagPrimParc">
            <label for="">DATA DO PAGAMENTO DA 1ª PARC.:</label>
            <div class="row">
                <div class="col-md-6">
                    <%= p.text_field :date_one_payment, id: "datepickerOnePayment", class: "form-control", value: @payment.date_one_payment.try(:strftime, "%-d/%-m/%Y"), placeholder: "Selecione a data" %>
                </div>
            </div>
        </div>
        <div class="form-group" id="pagSegParc">
            <label for="">DATA DO PAGAMENTO DA 2ª PARC.:</label>
            <div class="row">
                <div class="col-md-6">
                    <%= p.text_field :date_two_payment, id: "datepickerTwoPayment", class: "form-control", value: @payment.date_two_payment.try(:strftime, "%-d/%-m/%Y"), placeholder: "Selecione a data" %>
                </div>
            </div>
        </div>
        <div class="form-group" id="pagTerParc">
            <label for="">DATA DO PAGAMENTO DA 3ª PARC.:</label>
            <div class="row">
                <div class="col-md-6">
                    <%= p.text_field :date_three_payment, id: "datepickerThreePayment", class: "form-control", value: @payment.date_three_payment.try(:strftime, "%-d/%-m/%Y"), placeholder: "Selecione a data" %>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="actions" style="text-align: right">

    <%= link_to 'Voltar', order_path(@payment.order_id), class: "btn btn-default pull-right" %>
    <%= p.submit "Salvar", class: "btn btn-primary pull-right" %>
    <% end %>

</div>
<br><br><br>
<script>
    $(document).ready(function(){

        var init = $('#payment_form').val();

        if (init == 'A vista'){
            
            $('#pagAvista').show();
            $('#primParc').hide();
            $('#segParc').hide();
            $('#terParc').hide();
            $('#pagPrimParc').hide();
            $('#pagSegParc').hide();
            $('#pagTerParc').hide();


        }
        else if (init == '1x Parcela'){
            $('#primParc').show();
            $('#segParc').hide();
            $('#terParc').hide();
            $('#pagPrimParc').show();
            $('#pagSegParc').hide();
            $('#pagTerParc').hide();
            $('#pagAvista').hide();
        }
        else if (init == '2x Parcelas'){
            $('#primParc').show();
            $('#segParc').show();
            $('#terParc').hide();
            $('#pagPrimParc').show();
            $('#pagSegParc').show();
            $('#pagTerParc').hide();
            $('#pagAvista').hide();
        }
        else {
            $('#primParc').show();
            $('#segParc').show();
            $('#terParc').show();
            $('#pagPrimParc').show();
            $('#pagSegParc').show();
            $('#pagTerParc').show();
            $('#pagAvista').hide();

        };


        $('#payment_form').change(function(){

            var value = $('#payment_form').val();
            if (value == 'A vista'){
                $('#pagAvista').show();
                $('#primParc').hide();
                $('#segParc').hide();
                $('#terParc').hide();
                $('#pagPrimParc').hide();
                $('#pagSegParc').hide();
                $('#pagTerParc').hide();
            }
            else if (value == '1x Parcela'){
                $('#primParc').show();
                $('#segParc').hide();
                $('#terParc').hide();
                $('#pagPrimParc').show();
                $('#pagSegParc').hide();
                $('#pagTerParc').hide();
                $('#pagAvista').hide();
            }
            else if (value == '2x Parcelas'){
                $('#primParc').show();
                $('#segParc').show();
                $('#terParc').hide();
                $('#pagPrimParc').show();
                $('#pagSegParc').show();
                $('#pagTerParc').hide();
                $('#pagAvista').hide();
            }
            else {
                $('#primParc').show();
                $('#segParc').show();
                $('#terParc').show();
                $('#pagPrimParc').show();
                $('#pagSegParc').show();
                $('#pagTerParc').show();
                $('#pagAvista').hide();

            };
        });

    });

</script>



