<h1>Listing payments</h1>

<table>
  <thead>
    <tr>
      <th>Form</th>
      <th>Date payment</th>
      <th>Date one portion</th>
      <th>Date two portion</th>
      <th>Date three portion</th>
      <th>Date one payment</th>
      <th>Date two payment</th>
      <th>Date three payment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.form %></td>
        <td><%= payment.date_payment %></td>
        <td><%= payment.date_one_portion %></td>
        <td><%= payment.date_two_portion %></td>
        <td><%= payment.date_three_portion %></td>
        <td><%= payment.date_one_payment %></td>
        <td><%= payment.date_two_payment %></td>
        <td><%= payment.date_three_payment %></td>
        <td><%= link_to 'Show', payment %></td>
        <td><%= link_to 'Edit', edit_payment_path(payment) %></td>
        <td><%= link_to 'Destroy', payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payment', new_payment_path %>
