<p id="notice"><%= notice %></p>
<h1 style="text-align: center">Pagamento</h1>
<table class="table table-striped table-hover">
      <tr>
        <td class="field-label col-md-2 active text-right"><label>NOME:</label></td>
        <td class="col-md-4"><%= @payment.form %></td>
      </tr>
      <tr>
        <td class="field-label col-md-2 active text-right"><label>FORMA DE PAGAMENTO:</label></td>
        <td class="col-md-4"><%= @payment.date_payment.try(:strftime, "%-d/%-m/%Y") %></td>
      </tr>
      <tr>
        <td class="field-label col-md-2 active text-right"><label>DATA DA 1ª PARC.:</label></td>
        <td class="col-md-4"><%= @payment.date_one_portion.try(:strftime, "%-d/%-m/%Y") %></td>
      </tr>
        <tr>
        <td class="field-label col-md-2 active text-right"><label>DATA DO PAGAMENTO DA 1ª PARC.:</label></td>
        <td class="col-md-4"><%= @payment.date_one_payment.try(:strftime, "%-d/%-m/%Y") %></td>
      </tr>
      <tr>
        <td class="field-label col-md-2 active text-right"><label>DATA DA 2ª PARC.:</label></td>
        <td class="col-md-4"><%= @payment.date_two_portion.try(:strftime, "%-d/%-m/%Y") %></td>
      </tr>
      <tr>
        <td class="field-label col-md-2 active text-right"><label>DATA DO PAGAMENTO DA 2ª PARC.:</label></td>
        <td class="col-md-4"><%= @payment.date_two_payment.try(:strftime, "%-d/%-m/%Y") %></td>
      </tr>
      <tr>
        <td class="field-label col-md-2 active text-right"><label>DATA DA 3ª PARC.:</label></td>
        <td class="col-md-4"><%= @payment.date_three_portion.try(:strftime, "%-d/%-m/%Y") %></td>
      </tr>
       <tr>
        <td class="field-label col-md-2 active text-right"><label>DATA DO PAGAMENTO DA 3ª PARC.:</label></td>
        <td class="col-md-4"><%= @payment.date_three_payment.try(:strftime, "%-d/%-m/%Y") %></td>
      </tr>
    </table>
<%= link_to 'Voltar', order_path(@payment.order_id), class: "btn btn-default pull-right" %>
<%= link_to 'Editar', edit_payment_path(@payment), class: "btn btn-warning pull-right" %> 

