.table {
    margin-bottom: 0px;
}

table.table-bordered tr td{
    font-size: 10px!important;
    padding: 4px;
}
table.table-bordered tr th {
    font-size: 10px!important;
    padding: 4px;
}
/*@media print {
body.modalprinter * {
visibility: hidden;
}

body.modalprinter .modal-dialog.focused {
position: fixed;
padding: 0;
margin: 0;
left: 6%;
top: 0;
}

body.modalprinter .modal-dialog.focused .modal-content {
border-width: 0;
}

body.modalprinter .modal-dialog.focused .modal-content .modal-header .modal-title,
body.modalprinter .modal-dialog.focused .modal-content .modal-header .modal-title h1,
body.modalprinter .modal-dialog.focused .modal-content .modal-body,
body.modalprinter .modal-dialog.focused .modal-content .modal-body * {
visibility: visible;
}

body.modalprinter .modal-dialog.focused .modal-content .modal-header,
body.modalprinter .modal-dialog.focused .modal-content .modal-body {
padding: 0;
}

body.modalprinter .modal-dialog.focused .modal-content .modal-header .modal-title {
margin-bottom: 5px;
}
};*/


