<%= form_for(@expense) do |f| %>
<% if @expense.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

	<ul>
		<% @expense.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
</div>
<% end %>
<form action="">

	<div class="form-group">
		<label>Conta:</label>
		<%= f.text_field :account, class: "form-control" %>
	</div>
	<div class="form-group">
		<label class="" for="">Data de Vencimento:</label>
		<div class="row">
			<div class="col-md-6">
				<%= f.text_field :maturity_date, id: "datepicker", class: "form-control", readonly: true, value: @expense.maturity_date.try(:strftime, "%-d/%-m/%Y"), placeholder: "Selecione a data" %>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="" for="">Valor:</label><br>
		<div class="row">
			<div class="col-md-6">
				<%= f.text_field :value, class: "form-control" %>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="">Data do Pagamento:</label>
		<div class="row">
			<div class="col-md-6">
				<%= f.text_field :date_payment, id: "datepicker1", class: "form-control", readonly: true, value: @expense.date_payment.try(:strftime, "%-d/%-m/%Y"), placeholder: "Selecione a data" %>
			</div>
		</div>
	</div>
	<div class="actions">
		<%= link_to 'Voltar', expenses_path, class: "btn btn-default pull-right" %>
		<%= f.submit "Salvar", class: "btn btn-primary pull-right"%>

	</div>

</form>
<% end %>
