<h1>Despesas</h1>


		
			
					<%= form_tag(expenses_path, :method => "get", :class => "form-inline pull-right", id: "search-form", style: "margin-right: 2%") do %>

			<%= text_field_tag :account, params[:account], placeholder: "Conta", class: "form-control" %>

			<%= text_field_tag :date_start, params[:date_start], placeholder: "Data Inicial", class: "form-control", id: "datepicker" %>
			<%= text_field_tag :date_end, params[:date_end], placeholder: "Data Final", class: "form-control", id: "datepicker1" %>

			<%= button_tag " Buscar", :account => nil, class: "btn btn-default glyphicon glyphicon-search" %>

		
		<% end %>
		<br><br><br>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>CONTA:</th>
            <th>DATA DE VENCIMENTO:</th>
            <th>VALOR:</th>
            <th>DATA DE PAGAMENTO:</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @expenses.each do |expense| %>
        <tr>
            <td><%= expense.account %></td>
            <td><%= expense.maturity_date.try(:strftime, "%-d/%-m/%Y") %></td>
            <td><%= expense.value %></td>
            <td><%= expense.date_payment.try(:strftime, "%-d/%-m/%Y") %></td>
            <td><%= link_to 'Ver', expense, class: "btn-xs btn-primary" %></td>
            <td><%= link_to 'Editar', edit_expense_path(expense), class: "btn-xs btn-warning" %></td>
            <td><%= link_to 'Excluir', expense, method: :delete, data: { confirm: 'Você tem certeza que deseja excluir?' }, class: "btn-xs btn-danger" %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<br>
<br>
<br>

<%#= link_to 'New Expense', new_expense_path %>
