<div class="row">
   <div class="col-md-3"></div>
    <div class="col-md-6">
        <h1>Despesa</h1>
        <table class="table table-striped table-hover">
            <tr>
                <td class="field-label col-md-2 active text-right"><label>CONTA:</label></td>
                <td class="col-md-4"><%= @expense.account %></td>
            </tr>

            <tr>
                <td class="field-label col-md-2 active text-right"><label>DATA DE VENCIMENTO:</label></td>
                <td class="col-md-4"><%= @expense.maturity_date.try(:strftime, "%-d/%-m/%Y") %></td>
            </tr>

            <tr>
                <td class="field-label col-md-2 active text-right"><label>VALOR:</label></td>
                <td class="col-md-4"><%= @expense.value %></td>
            </tr>

            <tr>
                <td class="field-label col-md-2 active text-right"><label>DATA DE PAGAMENTO:</label></td>
                <td class="col-md-4"><%= @expense.date_payment.try(:strftime, "%-d/%-m/%Y") %></td>
            </tr>
        </table>
        <%= link_to 'Voltar', expenses_path, class: "btn btn-default pull-right" %>
        <%= link_to 'Editar', edit_expense_path(@expense), class: "btn btn-warning pull-right" %>
    </div>
</div>
