<%= form_for @product, html: {class: "form-horizontal"} do |f| %>
	

	<div class="form-group">
		<%=f.label :name, "NOME:", class: "col-md-2 control-label" %>
		<div class="col-md-4">
			<%= f.text_field :name, class: "form-control" %>
		</div>
		<%= render partial: "shared/validation_error_message_first",
		 locals: { err_msgs: @product.errors[:name], attr_name: "Name" }%>
	</div>
	<div class="form-group">
		<%=f.label :description, "DESCRIÇÃO:", class: "col-md-2 control-label" %>
		<div class="col-md-4">
			<%= f.text_field :description, class: "form-control" %>
		</div>
		<%= render partial: "shared/validation_error_message_first",
		 locals: { err_msgs: @product.errors[:description], attr_name: "Description" }%>
	</div>
	<div class="form-group">
		<%=f.label :code, "CÓDIGO:", class: "col-md-2 control-label" %>
		<div class="col-md-4">
			<%= f.text_field :code, class: "form-control" %>
		</div>
		<%= render partial: "shared/validation_error_message_first",
		 locals: { err_msgs: @product.errors[:code], attr_name: "CODIGO" }%>
	</div>
	<div class="form-group">
		<%= f.label :unit_price, "PREÇO DA UNIDADE:", class: "col-md-2 control-label" %>
		<div class="col-md-4">
			<%= f.text_field :unit_price, class: "form-control" %>
		</div>
		<%= render partial: "shared/validation_error_message_first",
		 locals: { err_msgs: @product.errors[:unit_price], attr_name: "Unit Price" }%>
	</div>
	<div class="form-group">
		<%= f.label :inventory_qty, "UNIDADES:", class: "col-md-2 control-label" %>
		<div class="col-md-4">
			<%= f.text_field :inventory_qty, class: "form-control" %>
		</div>
		<%= render partial: "shared/validation_error_message_first",
		 locals: { err_msgs: @product.errors[:inventory_qty], attr_name: "Inventory Qty" }%>
	</div>
<div style="margin-left: 40%">
	<%= f.submit "Salvar", class: "btn btn-success" %>
	 
	<%= link_to "Voltar", products_path, class: "btn btn-default" %>
</div>
<% end %>
