<h1>Produtos</h1>

<div class="row">
    <div class="col-md-12">
        <a class="btn btn-primary printProduct pull-right" style="margin-left:10px">Imprimir Relatório</a>
        <%= link_to " Adicionar Produto",  new_product_path, class: "btn btn-success valign_middle pull-right glyphicon glyphicon-plus" %>

    </div>


</div>

<table class="table table-striped table-hover ">
    teste
    <!-- Commented tags part of Product table sort implementation -->
    <!--<table id="" class="table table-bordered">-->
    <thead>
        <tr>
            <th>NOME</th>
            <!--<th><%#= sortable "name" %></th>-->
            <th>DESCRIÇÃO</th>
            <th>CÓDIGO</th>
            <!--<th><%#= sortable "code" %></th>-->
            <th>PREÇO:</th>
            <th>UNIDADES:</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <!--
<tfoot>
<tr>
<th>NAME</th>
<th>DESCRIPTION</th>
<th>CODE</th>
<th>UNIT PRICE</th>
<th>INVENTORY</th>
<th></th>
<th></th>
<th></th>
</tr>
</tfoot>
-->

    <tbody>
        <% @products.each do |product| %>
        <tr>
            <td><%= product.name %></td>
            <td><%= product.description %></td>
            <td><%= product.code %></td>
            <td><%= number_to_currency(product.unit_price, unit: "") %></td>
            <td><%= product.inventory_qty %></td>
            <td><%= link_to "Ver", product, :class => "btn btn-primary btn-xs" %></td>
            <td><%= link_to "Editar", edit_product_path(product), class: "btn btn-warning btn-xs" %></td>
            <td><%= link_to "Excluir", product, method: :delete,
    data: { confirm: "Tem certeza que deseja excluir este produto?" }, :class => "btn btn-danger btn-xs" %></td>
        </tr>
        <% end %>
    </tbody>
</table>
<br><br><br>
<div class="contentPrintProduct" hidden>
    <table class="table table-striped table-hover ">
        teste
        <!-- Commented tags part of Product table sort implementation -->
        <!--<table id="" class="table table-bordered">-->
        <thead>
            <tr>
                <th>NOME</th>
                <!--<th><%#= sortable "name" %></th>-->
                <th>DESCRIÇÃO</th>
                <th>CÓDIGO</th>
                <!--<th><%#= sortable "code" %></th>-->
                <th>PREÇO:</th>
                <th>UNIDADES:</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <!--
<tfoot>
<tr>
<th>NAME</th>
<th>DESCRIPTION</th>
<th>CODE</th>
<th>UNIT PRICE</th>
<th>INVENTORY</th>
<th></th>
<th></th>
<th></th>
</tr>
</tfoot>
-->

        <tbody>
            <% @products.each do |product| %>
            <tr>
                <td><%= product.name %></td>
                <td><%= product.description %></td>
                <td><%= product.code %></td>
                <td><%= number_to_currency(product.unit_price, unit: "") %></td>
                <td><%= product.inventory_qty %></td>

            </tr>
            <% end %>
        </tbody>
    </table>
</div>


<script>
    $('.printProduct').click(function(){
        $('.contentPrintProduct').printArea({
            mode:'iframe',
            popHt: 500,
            popWt: 400,
            popX: 1000,
            popY: 600,
            popTitle: 'Relatório de Produtos Porto Princípe Boutique'
        });
        //return false;
    });

</script>
