<div class="row">
	<div class="col-md-6">
		<h1>Produtos</h1>
		<table class="table table-striped table-hover">
			<tr>
				<td class="field-label col-md-2 active text-right"><label>NOME:</label></td>
				<td class="col-md-4"><%= @product.name %></td>
			</tr>
			<tr>
				<td class="field-label col-md-2 active text-right"><label>DESCRIÇÃO:</label></td>
				<td class="col-md-4"><%= @product.description %></td>
			</tr>
			<tr>
				<td class="field-label col-md-2 active text-right"><label>CÓDIGO:</label></td>
				<td class="col-md-4"><%= @product.code %></td>
			</tr>
			<tr>
				<td class="field-label col-md-2 active text-right"><label>PREÇO:</label></td>
				<td class="col-md-4"><%= number_to_currency(@product.unit_price, unit: "") %></td>
			</tr>
			<tr>
				<td class="field-label col-md-2 active text-right"><label>UNIDADES:</label></td>
				<td class="col-md-4"><%= @product.inventory_qty %></td>
			</tr>
		</table>
	</div>
</div>	<!-- .row -->
<br>
<br>
<%= link_to " Adicionar Produto",  new_product_path, class: "btn btn-success glyphicon glyphicon-plus" %>
<%= link_to "Editar", edit_product_path(@product), class: "btn btn-warning" %> 
<%= link_to "Voltar", products_path, class: "btn btn-default" %>
<br><br>