<%= form_for [@order, @receipt], html: {class: "form-horizontal"} do |f| %>
<% if @receipt.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@receipt.errors.count, "error") %> prohibited this receipt from being saved:</h2>

    <ul>
        <% @receipt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>


<div class="form-group">
    <%= f.label "Data:", class: "col-lg-4 control-label" %><br>
    <div class="col-lg-4">
        <%= f.text_field :date, id: "datepicker", class: "form-control",
value: @order.date = DateTime.now.strftime("%-d/%-m/%Y") %>
    </div>
</div>
<div class="form-group">

    <%= f.label "Valor:", class: "col-lg-4 control-label" %><br>

    <div class="col-lg-4">
        <%= f.text_field :value, class: "form-control" %>
    </div>

</div>
<div class="actions">
    <%= link_to 'Voltar', order_path(@order), class: "btn btn-default pull-right" %>
    <%= f.submit "Salvar", class: "btn btn-primary pull-right" %>
</div>
<% end %>
