<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @receipt.order %>
</p>

<p>
  <strong>Date:</strong>
  <%= @receipt.date %>
</p>

<p>
  <strong>Value:</strong>
  <%= @receipt.value %>
</p>

<%= link_to 'Edit', edit_receipt_path(@receipt) %> |
<%= link_to 'Back', receipts_path %>
