<h1>Editar Item</h1>
<%= form_for @line_item, html: {class: "form-horizontal"} do |f| %>
<%#= render "shared/error_messages", object: f.object %>

    <div class="form-group">
            <%=f.label :product_id, "PRODUTO:", class: "col-md-2 control-label" %>
<div class="col-md-3">
    <%= f.text_field :product_name, as: :autocomplete, url: autocomplete_product_name_orders_path %>
    <%#= f.collection_select :product_id, Product.all, :id, :name, {prompt: "Select a product"}, {class: "form-control"} %>
        </div>
            <%= render partial: "shared/validation_error_message_first",
        locals: { err_msgs: @line_item.errors[:product_id], attr_name: "Product" }%>		
</div>
<div class="form-group">
    <%= f.label :quantity, "UNIDADES:", class: "col-md-2 control-label" %>
    <div class="col-md-2">
        <%= f.text_field :quantity, class: "form-control" %>
    </div>
    <%= render partial: "shared/validation_error_message_first",
        locals: { err_msgs: @line_item.errors[:quantity], attr_name: "Quantity" }%>		
</div>
<div class="form-group">
    <%= f.label :discount_percent, "DESCONTO (0-100)", class: "col-md-2 control-label" %>
    <div class="col-md-2">
        <%= f.text_field :discount_percent, class: "form-control" %>
    </div>
    <%= render partial: "shared/validation_error_message_first",
        locals: { err_msgs: @line_item.errors[:discount_percent], attr_name: "Discount" }%>		
</div>

<%= f.submit "Salvar", class: "btn btn-default" %>

<%= link_to "Voltar", order_path(@line_item.order_id), class: "btn btn-default" %>

<% end %>
