<h1>Novo Item</h1>
<%= form_for [@order, @line_item], html: {class: "form-horizontal"} do |f| %>
<%#= render "shared/error_messages", object: f.object %>

    <div class="form-group">
            <%=f.label :product_id, "PRODUTO", class: "col-md-2 control-label" %>
<div class="col-md-3 ui-widget">

    <%= f.collection_select :product_id, Product.all, :id, :code, {prompt: "Escolha o codigo"}, {class: "form-control", id: "combobox"} %>

</div>
<%= render partial: "shared/validation_error_message_first",
        locals: { err_msgs: @line_item.errors[:product_id], attr_name: "Product" }%>		
</div>
<div class="form-group">
    <%= f.label :quantity, "UNIDADES", class: "col-md-2 control-label" %>
    <div class="col-md-2">
        <%= f.text_field :quantity, class: "form-control" %>
    </div>
    <%= render partial: "shared/validation_error_message_first",
        locals: { err_msgs: @line_item.errors[:quantity], attr_name: "Quantity" }%>		
</div>
<div class="form-group">
    <%= f.label :discount_percent, "DESCONTO (0-100)", class: "col-md-2 control-label" %>
    <div class="col-md-2">
        <%= f.text_field :discount_percent, class: "form-control" %>
    </div>
    <%= render partial: "shared/validation_error_message_first",
        locals: { err_msgs: @line_item.errors[:discount_percent], attr_name: "Discount" }%>		
</div>

<%= f.submit "Salvar", class: "btn btn-default" %>

<%= link_to "Voltar", order_path(@order), class: "btn btn-default" %>

<% end %>
<style>
    .custom-combobox {
        position: relative;
        display: inline-block;
    }
    .custom-combobox-toggle {
        position: absolute;
        top: 0;
        bottom: 0;
        margin-left: -1px;
        padding: 0;
    }
    .custom-combobox-input {
        margin: 0;
        padding: 5px 10px;
    }
</style>
<script>
    (function( $ ) {
        $.widget( "custom.combobox", {
            _create: function() {
                this.wrapper = $( "<span>" )
                    .addClass( "custom-combobox" )
                    .insertAfter( this.element );

                this.element.hide();
                this._createAutocomplete();
                this._createShowAllButton();
            },

            _createAutocomplete: function() {
                var selected = this.element.children( ":selected" ),
                    value = selected.val() ? selected.text() : "";

                this.input = $( "<input>" )
                    .appendTo( this.wrapper )
                    .val( value )
                    .attr( "title", "" )
                    .addClass( "custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left" )
                    .autocomplete({
                    delay: 0,
                    minLength: 0,
                    source: $.proxy( this, "_source" )
                })
                    .tooltip({
                    tooltipClass: "ui-state-highlight"
                });

                this._on( this.input, {
                    autocompleteselect: function( event, ui ) {
                        ui.item.option.selected = true;
                        this._trigger( "select", event, {
                            item: ui.item.option
                        });
                    },

                    autocompletechange: "_removeIfInvalid"
                });
            },

            _createShowAllButton: function() {
                var input = this.input,
                    wasOpen = false;

                $( "<a>" )
                    .attr( "tabIndex", -1 )
                    .attr( "title", "Show All Items" )
                    .tooltip()
                    .appendTo( this.wrapper )
                    .button({
                    icons: {
                        primary: "ui-icon-triangle-1-s"
                    },
                    text: false
                })
                    .removeClass( "ui-corner-all" )
                    .addClass( "custom-combobox-toggle ui-corner-right" )
                    .mousedown(function() {
                    wasOpen = input.autocomplete( "widget" ).is( ":visible" );
                })
                    .click(function() {
                    input.focus();

                    // Close if already visible
                    if ( wasOpen ) {
                        return;
                    }

                    // Pass empty string as value to search for, displaying all results
                    input.autocomplete( "search", "" );
                });
            },

            _source: function( request, response ) {
                var matcher = new RegExp( $.ui.autocomplete.escapeRegex(request.term), "i" );
                response( this.element.children( "option" ).map(function() {
                    var text = $( this ).text();
                    if ( this.value && ( !request.term || matcher.test(text) ) )
                        return {
                            label: text,
                            value: text,
                            option: this
                        };
                }) );
            },

            _removeIfInvalid: function( event, ui ) {

                // Selected an item, nothing to do
                if ( ui.item ) {
                    return;
                }

                // Search for a match (case-insensitive)
                var value = this.input.val(),
                    valueLowerCase = value.toLowerCase(),
                    valid = false;
                this.element.children( "option" ).each(function() {
                    if ( $( this ).text().toLowerCase() === valueLowerCase ) {
                        this.selected = valid = true;
                        return false;
                    }
                });

                // Found a match, nothing to do
                if ( valid ) {
                    return;
                }

                // Remove invalid value
                this.input
                    .val( "" )
                    .attr( "title", value + " didn't match any item" )
                    .tooltip( "open" );
                this.element.val( "" );
                this._delay(function() {
                    this.input.tooltip( "close" ).attr( "title", "" );
                }, 2500 );
                this.input.autocomplete( "instance" ).term = "";
            },

            _destroy: function() {
                this.wrapper.remove();
                this.element.show();
            }
        });
    })( jQuery );

    $(function() {
        $( "#combobox" ).combobox();
        $( "#toggle" ).click(function() {
            $( "#combobox" ).toggle();
        });
    });
</script>