<!DOCTYPE html>
<html>
    <head>
        <title>SisSales</title>
        <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
        <%= render "layouts/shim" %>
    </head>
    <body>

        <!-- Static navbar -->
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="navbar-brand">SisSales</span>
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <% if signed_in? %>
                        <li class="<%= 'active' if params[:controller] == 'customers' %>">
                            <%= link_to "Clientes", customers_path %>
                        </li>
                        <li class="<%= 'active' if params[:controller] == 'products' %>">
                            <%= link_to "Produtos", products_path %>

                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" arial-expanded="false">Relatórios<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="">
                                    <%= link_to "Todas as Vendas", orders_path %></li>
                                <li class="">
                                    <%= link_to "Vendas Vencidas", order_info_path %>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown <%= 'active' if params[:controller] == 'expenses' %>"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" arial-expanded="false">Despesas<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="">
                                    <%= link_to 'Nova Despesa', new_expense_path %>
                                </li>
                                <li class="">
                                    <%= link_to 'Ver Despesas', expenses_path %>
                                </li>
                            </ul>

                        </li>
                        <!--< if current_user.admin? >< end >-->
                        <li class="<%= 'active' if params[:controller] == 'users' %>">
                            <%= link_to "Usuários", users_path %>
                        </li>
                        <% end %>

                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="<%= 'active' if params[:controller] == 'static_pages' && params[:action] == 'show' && params[:id] == 'about' %>">
                            <%#= link_to "About", about_path %>
</li>

    <li class="<%#= 'active' if params[:controller] == 'static_pages' && params[:action] == 'show' && params[:id] == 'contact' %>">
            <%#= link_to "Contact", contact_path %>
        </li>


            <% if signed_in? %>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Olá <%= current_user.name %> <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><%= link_to "Sair", signout_path, method: :delete %></li>
                            </ul>
                        </li>
                        <% else %>
                        <li class="<%= 'active' if params[:controller] == 'sessions' && params[:action] == 'new' %>">
                            <%= link_to "Entrar", signin_path %>
                        </li>
                        <% end %>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>

        <div class="container">
            <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %>
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>

            </div>
            <% end %>
            <%= yield %>

        </div>
    </body>
</html>
